body {
    background-color: #fbe6ff;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #42f8bb;
}

.emoji-one {
    position: relative;
    /* width: 100%; */
    max-width: 500px;
    background-color: #c7ffad;
    border: 5px dashed #adceff;
    width: 500px;
}

.emoji-one img {
    width: 100%;
    height: auto;
}

.meow-changer {
    display: flex;
    /* float:right; */
    top: 50%;
    left: 50%;
    background-color: #ffadc1;
    color: rgb(219, 14, 14);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
  
.meow-changer:hover {
    background-color:#ffd2ad;
}